body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: #20c997;
}

h3 a:-webkit-any-link {
    text-decoration: none;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #20c997;
}

.login-box h1 {
    float: left;
    font-size: 40px;
    margin-bottom: 50px;
    padding: 13px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0px;
    margin: 8px 0px;
}

.fa {
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    float: left;
    margin: 0px 10px;
}

.button {
    width: 100%;
    padding: 8px;
    color: rgb(255, 255, 255);
    background:rgb(32, 201, 151);;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0px;
}
